<mat-list *ngIf="showNotifications">
    <mat-list-item 
        *ngFor="let notification of myNotifications"
        (click)="handleClick(notification)"
        class="pointer"
    >
        <img matListAvatar src="{{ notification.senderPic }}">
        <span *ngIf="notification.type === 'message'" style="margin-left: 5px;">
            {{ notification.senderName }} sent you a message
        </span>
        <span *ngIf="notification.type === 'group'" style="margin-left: 5px;">
            {{ notification.senderName }} has added you to the group: {{notification.groupName}}
        </span>   
    </mat-list-item>
</mat-list>