<mat-accordion multi="true">
    
    <mat-expansion-panel hiddeToggle="true" expanded="true">
        <mat-expansion-panel-header>
            My Profile
        </mat-expansion-panel-header>
        <app-profile></app-profile>
    </mat-expansion-panel>
                                                                   
    <mat-expansion-panel hiddeToggle="true" expanded="false">
        <mat-expansion-panel-header>
            Add Friends
        </mat-expansion-panel-header>
        <app-add-friends></app-add-friends>
    </mat-expansion-panel>
    
    <mat-expansion-panel hiddeToggle="true" expanded="true">
        <mat-expansion-panel-header>
          Friends
        </mat-expansion-panel-header>
        <app-my-friends></app-my-friends>
    </mat-expansion-panel>
    
    <mat-expansion-panel hiddeToggle="true" expanded="false">
        <mat-expansion-panel-header>
            My Groups
        </mat-expansion-panel-header>
        <app-my-groups></app-my-groups>
    </mat-expansion-panel>

    <mat-expansion-panel hiddeToggle="true" expanded="false">
        <mat-expansion-panel-header>
            Friends request
        </mat-expansion-panel-header>
        <app-request></app-request>
    </mat-expansion-panel>
    
</mat-accordion>